<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>内容页-聚繁</title>
    <link rel="stylesheet" href="/static/plugin/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/mobile.css">
    <link rel="stylesheet" href="/static/plugin/prism/prism.css"><!--代码高亮工具-->
</head>
<body>
    <header>
        
        <div class="layui-row subject-color nav-row">
            <div class="main-content nav-menu">
                <div class="layui-row">
                    <div class="layui-col-md2 logo-box">
                        <a href="#" title="首页，聚繁分享">
                            <img src="/static/imgs/canreplace/logo.png" alt="logo">
                        </a>
                    </div>
                    <div class="layui-col-md7 menu-box">
                        <ul class="menu-ul">
                           <a href="/">
                               <li>首页</li>
                           </a>
                            <a href="/list/">
                                <li>文章列表</li>
                            </a>
                           
                            </a>
                            <a href="#">
                                <li>关于博客</li>
                            </a>
                        </ul>
                    </div>
                    {% from"find.html" import find %}
                {{ find() }}
                </div>
            </div>
        </div>
    </header>
    <div class="main-content item-box">
        <div class="item-type">
            <div class="column-item layui-row">
                <div class="column-item-title layui-row subject-color font-color1 font-bold">栏目简介</div>
                <div class="jianjie-p layui-row">这是博客当前栏目的简介信息，此处是技术文章栏目，主要分享一些编程技术或者知识点，以及一些Exception和莫名其妙的文章。</div>
            </div>
            <div class="column-item layui-row">
                <div class="column-item-title layui-row subject-color font-color1 font-bold">栏目文章分类</div>
                <ul class="column-item-ul">
                    {% for category in category_list %}
                    <a href="/list/{{ category[0] }}">
                        <li>{{ category[1] }}<span>{{ category[2] }}篇</span></li>
                    </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="item-list">
            <div class="article-content-box layui-row">
                <h1>{{ article.title }}</h1>
                <div class="article-param layui-row">
                    {{ article.pub_date }}<span><a href="#">{{ article.author }}</a></span><span>阅读数：{{ article.hits }}</span>
                    <span>评论数：
                    {% if article.replycount is none %}
                    0
                    {% else %}
                    {{ article.replycount }}
                    {% endif %}
                    </span>&nbsp;&nbsp;
                    {% for label in article.labels %}
                    <span class="hz-span layui-badge layui-bg-gray">{{ label.name }}</span>
                    {% endfor %}
                </div>
{#                <div class="article-prompt">#}
{#                    版权声明：本文为博主原创文章，如果转载请给出原文链接：http://www.jufanshare.com/content/30.html#}
{#                </div>#}
{#                <div class="article-prompt">#}
{#                    阅读提示：此篇文章需要至少会使用一种计算机编程语言，掌握了一门计算机编程语言的基础部分才能阅读懂此篇文章。#}
{#                </div>#}
                <article>
                    {% autoescape off %}
                    {{ article.content }}
                    {% endautoescape %}
                </article>
                <div class="article-author layui-row">作者：<a href="#">{{ article.author }}</a></div>
                <div class="contact-row layui-row">
                    <div class="contact-me-box">
                        <p>欢迎交流！</p>
                        <div class="a-href-box">
                            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=173124552&site=qq&menu=yes">
                                <img border="0" src="http://wpa.qq.com/pa?p=2:173124552:51" alt="大BUG" title="大BUG"/>
                            </a>
                            <a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=f9cb533de3ba27133b16a4988dd10b0acaddad9790cc33e9d8348922729892a7">
                                <img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="聚繁分享" title="聚繁分享">
                            </a>
                            <a href="#" style="color: #1E9FFF;">更多联系方式</a>
                        </div>
                    </div>
                </div>
            </div>
            <form action="/mark/" method="post">
                <input type="hidden" name="tid" value="{{ tid }}">
                <div class="comment-box layui-row">
                    {% if current_user.is_authenticated %}
                    <div class="textarea-box layui-row">
                        <textarea placeholder="仅支持纯文本，如果有什么文字无法描述的问题、建议、意见，请加QQ群" name="comment"></textarea>
                    </div>
                    <div class="text-num-tips layui-row" name="comment">还可以输入<span>500</span>个字</div>
                    <div class="common-btnbox">
                        <button class="layui-btn layui-btn-normal layui-btn-sm"><i class="layui-icon">&#xe642;</i>留言</button>
                        <button class="layui-btn layui-btn-sm" id="login_button" disabled><i class="layui-icon">&#xe66f;</i>登录</button>
                    </div>
                    {% else %}
                    <div class="textarea-box layui-row">
                        <textarea placeholder="仅支持纯文本，如果有什么文字无法描述的问题、建议、意见，请加QQ群" name="comment"></textarea>
                    </div>
                    <div class="text-num-tips layui-row" name="comment">还可以输入<span>500</span>个字</div>
                    <div class="common-btnbox">
                        <button class="layui-btn layui-btn-normal layui-btn-sm" disabled><i class="layui-icon">&#xe642;</i>留言</button>
                        <button class="layui-btn layui-btn-sm" id="login_button"><i class="layui-icon">&#xe66f;</i>登录</button>
                    </div>
                    {% endif %}
                </div>
            </form>
            <div class="comment-list layui-row">
                <ul>
                    {% for comment in article.comments %}
                    <li>
                        <div class="common-box-row layui-row">
                            <div class="common-headimg layui-col-md1 layui-col-xs2">
                                <div class="commonimg-box">
                                    <img src="/static/imgs/canreplace/headimg.jpg">
                                </div>
                            </div>
                            <div class="common-info-row layui-col-md11 layui-col-xs10">
                                <div class="common-nickname layui-row">{{ comment.replydate }}<span>{{ comment.user.username }}：</span></div>
                                <div class="common-text layui-row">{{ comment.content }}</div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer-box">
            <div class="main-content">
                <strong>Copyright</strong> &nbsp;2019.01.16  &nbsp;by  &nbsp;<a href="#">大BUG</a><span>备案号：<a href="http://www.miitbeian.gov.cn/" target="_blank">蜀ICP备16031990号-2</a></span>
            </div>
        </div>
    </footer>
<script src="/static/plugin/layui/layui.js"></script>
<script src="/static/plugin/jquery/jquery-3.3.1.min.js"></script>
<script src="/static/plugin/prism/prism.js"></script><!--代码高亮工具-->
<script>
    //然后在需要的位置调用如下方法
    Prism.highlightAll();
    $('pre').addClass("line-numbers").css("white-space", "pre-wrap");//显示行号
    layui.use('laypage', function(){
        var laypage = layui.laypage;

        //执行一个laypage实例
        laypage.render({
            elem: 'pageItem', //注意，这里的 test1 是 ID，不用加 # 号
            count: 50, //数据总数，从服务端得到
            jump: function(obj, first){
                //obj包含了当前分页的所有参数，比如：
                console.log('当前页数：'+obj.curr); //得到当前页，以便向服务端请求对应页的数据。
                console.log('每页数量：'+obj.limit); //得到每页显示的条数
                //首次不执行
                if(!first){
                   console.log('执行')
                }
            }
        });
    });
    $("#login_button").click(function (event) {
        event.preventDefault()
        $(location).attr("href", "/login/?tid={{ tid }}")
        })
</script>
</body>
</html>