<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录-聚繁</title>
    <link rel="stylesheet" href="/static/plugin/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/mobile.css">
</head>
<body>
<form method="post" action="/login/">
    {{ form.csrf_token }}
    <input type="hidden" name="tid" value="{{ tid }}">
    <div class="login-bg subject-color layui-row"></div>
    <div class="login-box">
        <div class="login-title layui-row">
            <h2>登录</h2>
        </div>
        <div class="hr-line-div"></div>
        <div class="login-form">
            <p>用户名：</p>
            <input type="username" placeholder="请输入账户" class="layui-input" name="username">
            {% for error in form.username.errors %}
                <span style="color: red">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="login-form">
            <p>密码：<span>忘记密码？</span></p>
            <input type="password" placeholder="请输入密码" class="layui-input" name="password">
            {% for error in form.password.errors %}
                <span style="color: red">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="login-form">
            <p>验证码：</p>
            <div class="layui-row row-align">
                <div class="valicode-box">
                    <input type="text" placeholder="验证码" class="layui-input" name="code">
                </div>
                <div class="valicode-img-box">
                    <img src="/verifycode/" onclick="this.src=/verifycode/+'?'+Math.random()">
                    {% for error in form.code.errors %}
                        <span style="color: red">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="login-form">
            <button class="layui-btn layui-btn-fluid layui-btn-normal">登录</button>
        </div>
        <div class="login-form">
            <button class="layui-btn layui-btn-fluid" id="register">注册</button>
        </div>
        <div class="disanfan-login login-form row-align">
            <img src="/static/imgs/icon/icon_QQ.png" height="48" width="48"/>
        </div>
    </div>
</form>
</body>
<script src="/static/jss/jquery.min.js"></script>
<script>
    $("#register").click(function (event) {
        //阻止缺省动作
        event.preventDefault();
        $(location).attr("href","/register/")
    })
</script>
</html>
